@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Nunito Sans', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: 'Lora', serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2751 0.0176 145.0778);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2751 0.0176 145.0778);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2751 0.0176 145.0778);
  --primary: oklch(0.6271 0.1905 142.8806);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9309 0.0261 145.3618);
  --secondary-foreground: oklch(0.3282 0.0224 145.0423);
  --muted: oklch(0.9637 0.0065 145.5251);
  --muted-foreground: oklch(0.5612 0.0222 145.2722);
  --accent: oklch(0.9007 0.0524 145.1243);
  --accent-foreground: oklch(0.3791 0.0270 145.0184);
  --destructive: oklch(0.5875 0.2303 28.2622);
  --border: oklch(0.8902 0.0198 145.4066);
  --input: oklch(0.9258 0.0087 145.5046);
  --ring: oklch(0.6271 0.1905 142.8806);
  --chart-1: oklch(0.6271 0.1905 142.8806);
  --chart-2: oklch(0.9112 0.1758 109.4345);
  --chart-3: oklch(0.7232 0.1500 60.6307);
  --chart-4: oklch(0.5883 0.1391 251.4432);
  --chart-5: oklch(0.6076 0.1561 305.3236);
  --sidebar: oklch(0.9283 0.0174 145.4333);
  --sidebar-foreground: oklch(0.3282 0.0224 145.0423);
  --sidebar-primary: oklch(0.5690 0.1717 142.9023);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.8679 0.0701 144.9405);
  --sidebar-accent-foreground: oklch(0.3791 0.0270 145.0184);
  --sidebar-border: oklch(0.8529 0.0266 145.3368);
  --sidebar-ring: oklch(0.5690 0.1717 142.9023);
  --destructive-foreground: oklch(0.9848 0 0);
  --font-sans: 'Nunito Sans', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: hsl(120, 10%, 20%);
  --shadow-opacity: 0.1;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0.1rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.2rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 20% / 0.05);
  --shadow-xs: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 20% / 0.05);
  --shadow-sm: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 20% / 0.10), 0rem 1px 2px -0.9px hsl(120 10% 20% / 0.10);
  --shadow: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 20% / 0.10), 0rem 1px 2px -0.9px hsl(120 10% 20% / 0.10);
  --shadow-md: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 20% / 0.10), 0rem 2px 4px -0.9px hsl(120 10% 20% / 0.10);
  --shadow-lg: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 20% / 0.10), 0rem 4px 6px -0.9px hsl(120 10% 20% / 0.10);
  --shadow-xl: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 20% / 0.10), 0rem 8px 10px -0.9px hsl(120 10% 20% / 0.10);
  --shadow-2xl: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 20% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.1962 0.0102 145.1721);
  --foreground: oklch(0.9258 0.0087 145.5046);
  --card: oklch(0.2421 0.0145 145.1089);
  --card-foreground: oklch(0.9258 0.0087 145.5046);
  --popover: oklch(0.2421 0.0145 145.1089);
  --popover-foreground: oklch(0.9258 0.0087 145.5046);
  --primary: oklch(0.6839 0.2089 142.8638);
  --primary-foreground: oklch(0.1599 0.0067 145.2513);
  --secondary: oklch(0.3898 0.0527 144.4818);
  --secondary-foreground: oklch(0.8503 0.0178 145.4166);
  --muted: oklch(0.2784 0.0261 144.8326);
  --muted-foreground: oklch(0.7289 0.0162 145.4068);
  --accent: oklch(0.4558 0.0886 143.9520);
  --accent-foreground: oklch(0.8882 0.0132 145.4631);
  --destructive: oklch(0.6333 0.2001 24.9320);
  --border: oklch(0.3323 0.0333 144.7805);
  --input: oklch(0.3282 0.0224 145.0423);
  --ring: oklch(0.6839 0.2089 142.8638);
  --chart-1: oklch(0.6839 0.2089 142.8638);
  --chart-2: oklch(0.9025 0.1855 109.6047);
  --chart-3: oklch(0.6972 0.1606 57.5708);
  --chart-4: oklch(0.6273 0.1256 250.4941);
  --chart-5: oklch(0.6560 0.1363 306.0262);
  --sidebar: oklch(0.2751 0.0176 145.0778);
  --sidebar-foreground: oklch(0.8882 0.0132 145.4631);
  --sidebar-primary: oklch(0.6271 0.1905 142.8806);
  --sidebar-primary-foreground: oklch(0.1599 0.0067 145.2513);
  --sidebar-accent: oklch(0.4346 0.0837 143.9673);
  --sidebar-accent-foreground: oklch(0.8503 0.0178 145.4166);
  --sidebar-border: oklch(0.3323 0.0333 144.7805);
  --sidebar-ring: oklch(0.6271 0.1905 142.8806);
  --destructive-foreground: oklch(0.1599 0.0067 145.2513);
  --radius: 0.5rem;
  --font-sans: 'Nunito Sans', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: hsl(120, 10%, 2%);
  --shadow-opacity: 0.25;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0.1rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.2rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 2% / 0.13);
  --shadow-xs: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 2% / 0.13);
  --shadow-sm: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 2% / 0.25), 0rem 1px 2px -0.9px hsl(120 10% 2% / 0.25);
  --shadow: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 2% / 0.25), 0rem 1px 2px -0.9px hsl(120 10% 2% / 0.25);
  --shadow-md: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 2% / 0.25), 0rem 2px 4px -0.9px hsl(120 10% 2% / 0.25);
  --shadow-lg: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 2% / 0.25), 0rem 4px 6px -0.9px hsl(120 10% 2% / 0.25);
  --shadow-xl: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 2% / 0.25), 0rem 8px 10px -0.9px hsl(120 10% 2% / 0.25);
  --shadow-2xl: 0rem 0.2rem 0.5rem 0.1rem hsl(120 10% 2% / 0.63);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}